includeConfig 'base.config'
includeConfig 'modules.config'

params {
    max_cpus   = 2
    max_memory = 8.GB
    max_time   = 4.h

    outdir      = 'test_results'
    tracedir    = 'test_results/pipeline_info'

    input            = 'tests/data/samplesheet_test.csv'
    genome           = 'tests/data/genome.chr21.fa'
    gtf              = 'tests/data/annotation.chr21.gtf'
    gencode_transcripts_fa = 'tests/data/gencode.chr21.transcripts.fa'
    contrasts        = 'tests/data/contrasts_test.csv'
    design_formula   = '~ batch + condition'
}
